@{
    ViewData["Title"] = "Home Page";
}
    <h4><strong>Random passcode (passcode #@ViewBag.count)</strong></h4>
<div class="passcode">
    <h2><strong>@ViewBag.password</strong></h2>
</div>
    <form action="">
    <input id="generate" type="Submit">
    </form>